body {
  background-color: aqua;
}

h1 {
  text-align: center;
  color: gold;
}

p {
  color: grey;
  font-size: 25px;
}

img {
  border: 2px solid black;
}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 20px;
}

a {
  color: red
}

a:hover {
  color: violet;
}